In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')
from functools import reduce
import re

In [2]:
DemandTracker=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\DemandTracker.xlsx')
HCL=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\HCL.xlsx')
INFY=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\Infy.xlsx')
OnboardingTracker=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\OnboardingTracker.xlsx')

DRO Demand Update

In [3]:
rb=DemandTracker.groupby(['Tribe'])['Demand ID'].count().reset_index(name='Roles_Published')

In [4]:
rf=DemandTracker[DemandTracker['Demand Status']=='Closed']
rf=rf.groupby(['Tribe'])['Demand ID'].count().reset_index(name='Roles_Filled')

In [5]:
ro=DemandTracker[DemandTracker['Demand Status']=='Open']
ro=ro.groupby(['Tribe'])['Demand ID'].count().reset_index(name='Roles_Open')

In [6]:
data = {'Tribe':['BX - CC','BX - CSP','CAT','DCS','DCX','DSE','APRA','BUSINESS LENDING','SOE'], 'Roles_in_Pipeline':[2,3,5,0,5,3,20,5,6]} 
rp = pd.DataFrame(data)

In [7]:
rw=DemandTracker[DemandTracker['Demand Status']=='Withdrawn']
rw=rw.groupby(['Tribe'])['Demand ID'].count().reset_index(name='Roles_Withdrawn')

In [8]:
ddu=[rb,rf,ro,rp,rw]

In [9]:
demandupdate=reduce(lambda left,right: pd.merge(left,right,on=['Tribe'],how='outer'),ddu)

In [10]:
demandupdate[['Roles_Published','Roles_Filled','Roles_Open','Roles_in_Pipeline','Roles_Withdrawn']]=demandupdate[['Roles_Published','Roles_Filled','Roles_Open','Roles_in_Pipeline','Roles_Withdrawn']].fillna('0')
demandupdate[['Roles_Published','Roles_Filled','Roles_Open','Roles_in_Pipeline','Roles_Withdrawn']]=demandupdate[['Roles_Published','Roles_Filled','Roles_Open','Roles_in_Pipeline','Roles_Withdrawn']].astype(int)

In [11]:
demandupdate = demandupdate.transpose()

In [12]:
demandupdate.columns = demandupdate.iloc[0]
demandupdate = demandupdate[1:]

In [13]:
demandupdate

Tribe,APRA,BUSINESS LENDING,BUSINESS OWNERS,BX - CC,BX - CSP,CAT,CSS,DCS,DCX,DSE,SOE
Roles_Published,36,8,3,32,125,44,52,4,56,83,19
Roles_Filled,24,6,3,18,60,28,29,4,27,51,15
Roles_Open,4,1,0,8,41,14,21,0,13,23,0
Roles_in_Pipeline,20,5,0,2,3,5,0,0,5,3,6
Roles_Withdrawn,0,0,0,2,13,1,1,0,7,3,4

In [14]:
demandupdate.to_csv(r'C:\NotBackedUp\SOE\pyscript\FinalCSV\DRO\demandupdate.csv',sep=',')

DRO Supply Update

In [15]:
phhcl=HCL[HCL['Application Status']=='Hired']
phinfy=INFY[INFY['Application Status']=='Hired']
ProfilesHiredHCL=phhcl['ID'].count()
ProfilesHiredInfosys=phinfy['ID'].count()

In [16]:
pihcl=HCL[HCL['Application Status']=='Pending ANZ Interview']
piinfy=INFY[INFY['Application Status']=='Pending ANZ Interview']
PendingInterviewHCL=pihcl['ID'].count()
PendingInterviewInfosys=piinfy['ID'].count()

In [17]:
fihcl=HCL[HCL['Application Status']=='Failed Interview']
fiinfy=INFY[INFY['Application Status']=='Failed Interview']
FailedInterviewHCL=fihcl['ID'].count()
FailedInterviewInfosys=fiinfy['ID'].count()

In [18]:
pdscnhcl=HCL[HCL['Application Status'] == 'Pending Hacker Rank']
pdscninfy=INFY[INFY['Application Status'] == 'Pending Hacker Rank']
Pending_ScreeningHCL=pdscnhcl['ID'].count()
Pending_ScreeningInfosys=pdscninfy['ID'].count()

In [19]:
fascnhcl=HCL[HCL['Application Status'] == 'Failed Hacker Rank']
fascninfy=INFY[INFY['Application Status'] == 'Failed Hacker Rank']
FailedscreeningHCL=fascnhcl['ID'].count()
FailedscreeningInfosys=fascninfy['ID'].count()

In [20]:
rwhcl=HCL[HCL['Application Status']=='Role Withdrawn by ANZ']
rwinfy=INFY[INFY['Application Status']=='Role Withdrawn by ANZ']
RolesWithdrawnHCL=rwhcl['ID'].count()
RolesWithdrawnInfosys=rwinfy['ID'].count()

In [21]:
ruhcl=HCL[HCL['Application Status']=='Rsource Unavailable']
ruinfy=INFY[INFY['Application Status']=='Resource Unavailable']
RsourceUnavailableHCL=ruhcl['ID'].count()
RsourceUnavailableInfosys=ruinfy['ID'].count()

In [22]:
pdchcl=HCL[HCL['Application Status']=='Pending ANZ Response']
pdcinfy=INFY[INFY['Application Status']=='Pending ANZ Response']
PendingDecisionHCL=pdchcl['ID'].count()
PendingDecisionInfosys=pdcinfy['ID'].count()

In [23]:
pnhhcl=HCL[HCL['Application Status']=='Not - Hired']
pnhinfy=INFY[INFY['Application Status']=='Not - Hired']
ProfilesNotHiredHCL=pnhhcl['ID'].count()
ProfilesNotHiredInfosys=pnhinfy['ID'].count()

In [24]:
rfovhcl=HCL[HCL['Application Status']=='Role Fulfilled by Other Vendor']
rfovinfy=INFY[INFY['Application Status']=='Role Fulfilled by Other Vendor']
ProfilefilledbyotherVendorHCL=rfovhcl['ID'].count()
ProfilefilledbyotherVendorInfosys=rfovinfy['ID'].count()

In [25]:
ProfileSuppliedHCL=HCL['ID'].count()
ProfileSuppliedInfosys=INFY['ID'].count()

In [26]:
HCLU=[ProfilesHiredHCL,PendingInterviewHCL,FailedInterviewHCL,Pending_ScreeningHCL,FailedscreeningHCL,RsourceUnavailableHCL,PendingDecisionHCL,ProfilesNotHiredHCL,ProfilefilledbyotherVendorHCL,RolesWithdrawnHCL,ProfileSuppliedHCL]
InfyU=[ProfilesHiredInfosys,PendingInterviewInfosys,FailedInterviewInfosys,Pending_ScreeningInfosys,FailedscreeningInfosys,RsourceUnavailableInfosys,PendingDecisionInfosys,ProfilesNotHiredInfosys,ProfilefilledbyotherVendorInfosys,RolesWithdrawnInfosys,ProfileSuppliedInfosys]

In [27]:
Supplyupdate = ['Profiles_Hired','Pending_Interview','Failed_Interview','Pending_Screening','Failed_Screening','Rsource_Unavailable','Pending_Decision','NotHired','Roles_Filled_by_other_Vendor','Roles_Withdrawn','Profiles_Supplied',]

In [28]:
hclupdate=pd.DataFrame(HCLU)
Infyupdate=pd.DataFrame(InfyU)

In [29]:
hclupdate.columns=['HclCounts']
Infyupdate.columns=['InfyCounts']

In [30]:
hclupdate['Supplyupdate']=Supplyupdate
Infyupdate['Supplyupdate']=Supplyupdate

In [31]:
drosu=[hclupdate,Infyupdate]

In [32]:
DROSupplyUpdate=reduce(lambda left,right: pd.merge(left,right,on=['Supplyupdate'],how='outer'),drosu)

In [33]:
DROSupplyUpdate=DROSupplyUpdate[['Supplyupdate','InfyCounts','HclCounts']]

In [34]:
DROSupplyUpdate[['InfyCounts','HclCounts']]=DROSupplyUpdate[['InfyCounts','HclCounts']].fillna('0')
DROSupplyUpdate[['InfyCounts','HclCounts']]=DROSupplyUpdate[['InfyCounts','HclCounts']].astype(int)

In [35]:
DROSupplyUpdate

                    Supplyupdate  InfyCounts  HclCounts
0                 Profiles_Hired          80         94
1              Pending_Interview          25         34
2               Failed_Interview          59         71
3              Pending_Screening           2         13
4               Failed_Screening          65         26
5            Rsource_Unavailable          90         67
6               Pending_Decision           6         42
7                       NotHired          53         25
8   Roles_Filled_by_other_Vendor          35          7
9                Roles_Withdrawn          51          4
10             Profiles_Supplied         466        383

In [36]:
DROSupplyUpdate.to_csv(r'C:\NotBackedUp\SOE\pyscript\FinalCSV\DRO\DROSupplyUpdate.csv',sep=',',index=None)

DRO Onboarding Update

In [37]:
HCLobc=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='Onboarding Completed'))]
OBCHCL=HCLobc['Role'].count()
Infyobc=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='Onboarding Completed'))]
OBCInfy=Infyobc['Role'].count()
CTSobc=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant') & (OnboardingTracker['Onboarding Status']=='Onboarding Completed'))]
OBCCTS=CTSobc['Role'].count()

In [38]:
HCLobi=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='Onboarding In Progress'))]
OBIHCL=HCLobi['Role'].count()
Infyobi=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='Onboarding In Progress'))]
OBIInfy=Infyobi['Role'].count()
CTSobi=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant') & (OnboardingTracker['Onboarding Status']=='Onboarding In Progress'))]
OBICTS=CTSobi['Role'].count()

In [39]:
HCLtonb=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='To Be Onboarded'))]
TBONHCL=HCLtonb['Role'].count()
Infytonb=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='To Be Onboarded'))]
TBONInfy=Infytonb['Role'].count()
CTStonb=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant') & (OnboardingTracker['Onboarding Status']=='To Be Onboarded'))]
TBONCTS=CTStonb['Role'].count()

In [40]:
HCLnshw=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='No Show'))]
NSHWHCL=HCLnshw['Role'].count()
Infytnshw=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='No Show'))]
NSHWInfy=Infytnshw['Role'].count()
CTSnshw=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant') & (OnboardingTracker['Onboarding Status']=='No Show'))]
NSHWCTS=CTSnshw['Role'].count()

In [41]:
HCLrsgn=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='Resigned'))]
RSGNHCL=HCLrsgn['Role'].count()
Infyrsgn=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='Resigned'))]
RSGNInfy=Infyrsgn['Role'].count()
CTSrsgn=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant') & (OnboardingTracker['Onboarding Status']=='Resigned'))]
RSGNCTS=CTSrsgn['Role'].count()

In [42]:
HCLobinit=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='Onboarding Initiated'))]
OBINITNHCL=HCLobinit['Role'].count()
Infyobinit=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='Onboarding Initiated'))]
OBINITInfy=Infyobinit['Role'].count()
CTSobinit=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant') & (OnboardingTracker['Onboarding Status']=='Onboarding Initiated'))]
OBINITCTS=CTSobinit['Role'].count()

In [43]:
HCLtotalOB=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL'))]
TOTALOBHCL=HCLtotalOB['Role'].count()

InfytotalOB=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys'))]
TOTALOBINFY=InfytotalOB['Role'].count()

CTStotalOB=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Cognizant'))]
TOTALOBCTS=CTStotalOB['Role'].count()

In [44]:
onbuHCL = [OBCHCL,OBIHCL,TBONHCL,NSHWHCL,RSGNHCL,OBINITNHCL,TOTALOBHCL]
onbuInfy = [OBCInfy,OBIInfy,TBONInfy,NSHWInfy,RSGNInfy,OBINITInfy,TOTALOBINFY]
onbuCTS = [OBCCTS,OBICTS,TBONCTS,NSHWCTS,RSGNCTS,OBINITCTS,TOTALOBCTS]

In [45]:
OnboardingUpdate = ['OnBoarding_Completed','OnBoarding_in_Progress','Onboarding_Initiated','To_Be_Onboarded','No_Show','Resigned','Total_Onboarding']

In [46]:
hclOnboardingupdate=pd.DataFrame(onbuHCL)
Infyonboardingupdate=pd.DataFrame(onbuInfy)
ctsonboardingupdate=pd.DataFrame(onbuCTS)

In [47]:
hclOnboardingupdate.columns=['HclCounts']
Infyonboardingupdate.columns=['InfyCounts']
ctsonboardingupdate.columns=['CTSCounts']

In [48]:
hclOnboardingupdate['OnboardingUpdate']=OnboardingUpdate
Infyonboardingupdate['OnboardingUpdate']=OnboardingUpdate
ctsonboardingupdate['OnboardingUpdate']=OnboardingUpdate

In [49]:
droonbu = [hclOnboardingupdate,Infyonboardingupdate,ctsonboardingupdate]

In [50]:
DROOnBoardingUpdate=reduce(lambda left,right: pd.merge(left,right,on=['OnboardingUpdate'],how='outer'),droonbu)

In [51]:
DROOnBoardingUpdate = DROOnBoardingUpdate[['OnboardingUpdate','InfyCounts','HclCounts','CTSCounts']]

In [52]:
DROOnBoardingUpdate[['HclCounts','InfyCounts','CTSCounts']]=DROOnBoardingUpdate[['HclCounts','InfyCounts','CTSCounts']].fillna('0')
DROOnBoardingUpdate[['HclCounts','InfyCounts','CTSCounts']]=DROOnBoardingUpdate[['HclCounts','InfyCounts','CTSCounts']].astype(int)

In [53]:
DROOnBoardingUpdate.to_csv(r'C:\NotBackedUp\SOE\pyscript\FinalCSV\DRO\DROOnBoardingUpdate.csv',sep=',',index=None)

In [54]:
DROOnBoardingUpdate

         OnboardingUpdate  InfyCounts  HclCounts  CTSCounts
0    OnBoarding_Completed         146         93          5
1  OnBoarding_in_Progress          13         26          3
2    Onboarding_Initiated           4          5          0
3         To_Be_Onboarded          18         40          1
4                 No_Show          18          4          0
5                Resigned          14         10          2
6        Total_Onboarding         213        178         11

Fortnightly Update

In [55]:
RolesPublished=DemandTracker['Demand ID'].count()

Rolefilled=DemandTracker[DemandTracker['Demand Status'].isin(['Withdrawn','Closed'])]
Rolefilled=Rolefilled['Demand ID'].count()

RolesOpen=DemandTracker[DemandTracker['Demand Status']=='Open']
RolesOpen=RolesOpen['Demand ID'].count()

OnboardingInprg=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Onboarding Status']=='Onboarding In Progress'))]
OnboardingInprg=OnboardingInprg['Role'].count()

Roles_in_Pipeline='61'

In [56]:
Fnty = [RolesPublished,Rolefilled,RolesOpen,Roles_in_Pipeline,OnboardingInprg]

In [57]:
df = pd.DataFrame(Fnty)

In [58]:
df.columns=['Current']

In [59]:
Attributes=['RolesPublished','Rolefilled','RolesOpen','Roles_in_Pipeline','OnboardingInprg']
df['Attributes']=Attributes

In [60]:
df=df[['Attributes','Current']]

In [61]:
df['Previous']=['35','21','138','50','40']
df['F13']=['19','35','137','50','41']
df['F12']=['47','34','132','50','22']
df['F11']=['32','62','128','50','14']
df['F10']=['40','43','112','50','18']
df['F9']=['43','19','110','50','18']
df['F8']=['48','28','103','50','24']
df['F7']=['40','22','84','61','43']
df['F6']=['40','34','51','49','35']
df['F5']=['20','8','43','0','25']
df['F4']=['9','4','40','10','13']
df['F3']=['13','1','41','4','18']
df['F2']=['6','27','28','0','27']
df['F1']=['57','14','43','0','7']

In [62]:
df[['Current','Previous','F13','F12','F11','F10','F9','F8','F7','F6','F5','F4','F3','F2','F1']]=df[['Current','Previous','F13','F12','F11','F10','F9','F8','F7','F6','F5','F4','F3','F2','F1']].astype(int)

In [63]:
pr=df[df['Attributes']=='RolesPublished']

In [64]:
pr['Sum']=pr['Previous']+pr['F13']+pr['F12']+pr['F11']+pr['F10']+pr['F9']+pr['F8']+pr['F7']+pr['F6']+pr['F5']+pr['F4']+pr['F3']+pr['F2']+pr['F1']

In [65]:
pr['Current'] = pr['Current']-pr['Sum']

In [66]:
pr = pr[['Attributes','Current','Previous','F13','F12','F11','F10','F9','F8','F7','F6','F5','F4','F3','F2','F1']]

In [67]:
pr

,Attributes,Current,Previous,F13,F12,F11,F10,F9,F8,F7,F6,F5,F4,F3,F2,F1
0,RolesPublished,13,35,19,47,32,40,43,48,40,40,20,9,13,6,57

In [68]:
df = df[df['Attributes'] != 'RolesPublished']

In [69]:
df

,Attributes,Current,Previous,F13,F12,F11,F10,F9,F8,F7,F6,F5,F4,F3,F2,F1
1,Rolefilled,296,21,35,34,62,43,19,28,22,34,8,4,1,27,14
2,RolesOpen,125,138,137,132,128,112,110,103,84,51,43,40,41,28,43
3,Roles_in_Pipeline,61,50,50,50,50,50,50,50,61,49,0,10,4,0,0
4,OnboardingInprg,42,40,41,22,14,18,18,24,43,35,25,13,18,27,7

In [70]:
df = pd.concat([pr, df])

In [71]:
df

,Attributes,Current,Previous,F13,F12,F11,F10,F9,F8,F7,F6,F5,F4,F3,F2,F1
0,RolesPublished,13,35,19,47,32,40,43,48,40,40,20,9,13,6,57
1,Rolefilled,296,21,35,34,62,43,19,28,22,34,8,4,1,27,14
2,RolesOpen,125,138,137,132,128,112,110,103,84,51,43,40,41,28,43
3,Roles_in_Pipeline,61,50,50,50,50,50,50,50,61,49,0,10,4,0,0
4,OnboardingInprg,42,40,41,22,14,18,18,24,43,35,25,13,18,27,7

In [72]:
df.to_csv(r'C:\NotBackedUp\SOE\pyscript\FinalCSV\DRO\Fortnightly.csv',sep=',',index=None)

Demand & Supply - Vendor Performance

In [73]:
#HCLProfiles=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL'))]
#HCLProfiles=HCLProfiles.groupby(['Tribe'])['Demand ID'].count().reset_index(name='HCLProfiles')

#InfyProfiles=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys'))]
#InfyProfiles=InfyProfiles.groupby(['Tribe'])['Demand ID'].count().reset_index(name='InfyProfiles')

In [74]:
HCLProfiles=HCL.groupby(['Tribe'])['ID'].count().reset_index(name='HCLProfiles')
InfyProfiles=INFY.groupby(['Tribe'])['ID'].count().reset_index(name='InfyProfiles')

In [75]:
#HCLHires=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='HCL') & (OnboardingTracker['Onboarding Status']=='Onboarding Completed'))]
#HCLHires=HCLHires.groupby(['Tribe'])['Demand ID'].count().reset_index(name='HCLHires')

#InfyHires=OnboardingTracker[((OnboardingTracker['DRO Source']=='Model2')  & (OnboardingTracker['Partner']=='Infosys') & (OnboardingTracker['Onboarding Status']=='Onboarding Completed'))]
#InfyHires=InfyHires.groupby(['Tribe'])['Demand ID'].count().reset_index(name='InfyHires')

In [76]:
HCLHires=HCL[HCL['Application Status']=='Hired']
HCLHires=HCLHires.groupby(['Tribe'])['ID'].count().reset_index(name='HCLHires')

InfyHires=INFY[INFY['Application Status']=='Hired']
InfyHires=InfyHires.groupby(['Tribe'])['ID'].count().reset_index(name='InfyHires')

In [77]:
dsvp = [HCLProfiles,HCLHires,InfyProfiles,InfyHires]

In [78]:
VendorPerformance=reduce(lambda left,right: pd.merge(left,right,on=['Tribe'],how='outer'),dsvp)

In [79]:
VendorPerformance[['HCLProfiles','HCLHires','InfyProfiles','InfyHires']]=VendorPerformance[['HCLProfiles','HCLHires','InfyProfiles','InfyHires']].fillna(0)
VendorPerformance[['HCLProfiles','HCLHires','InfyProfiles','InfyHires']]=VendorPerformance[['HCLProfiles','HCLHires','InfyProfiles','InfyHires']].astype(int)

In [80]:
VendorPerformance

               Tribe  HCLProfiles  HCLHires  InfyProfiles  InfyHires
0               APRA           10         9             6          6
1   BUSINESS LENDING            4         4            18          3
2    BUSINESS OWNERS            2         1             0          0
3            BX - CC           60        13             2          0
4           BX - CSP          136        18           270         34
5                CAT           25        11            18         11
6                CSS           11         0            16          7
7                DCS            7         0            15          6
8                DCX           78        15            77          9
9                DSE           46        21            43          4
10               SOE            4         2             1          0

In [81]:
VendorPerformance = VendorPerformance.transpose()

In [82]:
VendorPerformance.columns = VendorPerformance.iloc[0]

In [83]:
VendorPerformance = VendorPerformance[1:]

In [84]:
VendorPerformance

Tribe,APRA,BUSINESS LENDING,BUSINESS OWNERS,BX - CC,BX - CSP,CAT,CSS,DCS,DCX,DSE,SOE
HCLProfiles,10,4,2,60,136,25,11,7,78,46,4
HCLHires,9,4,1,13,18,11,0,0,15,21,2
InfyProfiles,6,18,0,2,270,18,16,15,77,43,1
InfyHires,6,3,0,0,34,11,7,6,9,4,0

In [85]:
VendorPerformance.to_csv(r'C:\NotBackedUp\SOE\pyscript\FinalCSV\DRO\VendorPerformance.csv',sep=',')

In [86]:
HCLInternalCandiate=len(HCL[HCL['Candidate Type']=='Internal Candidate'])
INFYInternalCandiate=len(INFY[INFY['Candidate Type']=='Internal Candidate'])

In [87]:
InternalCandiate = [HCLInternalCandiate,INFYInternalCandiate]

In [88]:
InternalCandiate

[95, 100]

In [89]:
roles = DemandTracker

In [90]:
roles.loc[roles['Role'].str.contains('Engineer'),'Role'] = 'Engineer'
roles.loc[roles['Role'].str.contains('Expert'),'Role'] = 'Operations Expert'
roles.loc[roles['Role'].str.contains('Partner'),'Role'] = 'Delivery Partner'

In [91]:
roles = roles.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='RolesCount')

In [92]:
roles['RolesCount']=roles['RolesCount'].astype(int)

In [93]:
roles = roles[['Role','Tribe','RolesCount']]

In [94]:
roles = roles.pivot_table('RolesCount', ['Role'], 'Tribe')

In [95]:
roles = roles.fillna(0)

In [96]:
roles = roles.astype(int)

In [97]:
roles['Total']= roles.sum(axis=1)

In [98]:
roles

Tribe,APRA,BUSINESS LENDING,BUSINESS OWNERS,BX - CC,BX - CSP,CAT,CSS,DCS,DCX,DSE,SOE,Total
Role,,,,,,,,,,,,
Agile Coach,0,0,0,0,0,0,0,0,1,0,0,1
Analyst,4,2,0,3,16,7,5,3,6,9,5,60
Developer,0,0,0,0,0,0,17,0,0,7,0,24
Engineer,16,0,1,16,40,17,13,1,37,42,10,193
Environment Manager,0,0,0,0,3,0,0,0,0,0,0,3
Lead Developer,0,0,0,0,0,1,0,0,0,0,0,1
Operations Expert,1,1,0,0,1,2,0,0,0,0,1,6
Product Owner,0,0,0,0,0,2,0,0,0,2,0,4
Release Lead,1,2,0,2,22,5,4,0,1,3,0,40
SDET - Automation Tester,1,0,0,1,17,0,0,0,0,4,0,23
Scrum Master,0,0,0,0,3,1,0,0,3,1,0,8
Solution Designer,3,2,2,0,0,2,0,0,0,0,0,9
Tech Area Architect,1,0,0,0,1,3,0,0,0,0,0,5
Test Lead,2,0,0,2,4,0,0,0,1,1,0,10
Tester,7,0,0,8,18,4,13,0,7,14,3,74
Transition Manager,0,1,0,0,0,0,0,0,0,0,0,1

In [99]:
roles.to_csv(r'C:\NotBackedUp\SOE\pyscript\FinalCSV\DRO\roles.csv',sep=',')

In [100]:
roles

Tribe,APRA,BUSINESS LENDING,BUSINESS OWNERS,BX - CC,BX - CSP,CAT,CSS,DCS,DCX,DSE,SOE,Total
Role,,,,,,,,,,,,
Agile Coach,0,0,0,0,0,0,0,0,1,0,0,1
Analyst,4,2,0,3,16,7,5,3,6,9,5,60
Developer,0,0,0,0,0,0,17,0,0,7,0,24
Engineer,16,0,1,16,40,17,13,1,37,42,10,193
Environment Manager,0,0,0,0,3,0,0,0,0,0,0,3
Lead Developer,0,0,0,0,0,1,0,0,0,0,0,1
Operations Expert,1,1,0,0,1,2,0,0,0,0,1,6
Product Owner,0,0,0,0,0,2,0,0,0,2,0,4
Release Lead,1,2,0,2,22,5,4,0,1,3,0,40
SDET - Automation Tester,1,0,0,1,17,0,0,0,0,4,0,23
Scrum Master,0,0,0,0,3,1,0,0,3,1,0,8
Solution Designer,3,2,2,0,0,2,0,0,0,0,0,9
Tech Area Architect,1,0,0,0,1,3,0,0,0,0,0,5
Test Lead,2,0,0,2,4,0,0,0,1,1,0,10
Tester,7,0,0,8,18,4,13,0,7,14,3,74
Transition Manager,0,1,0,0,0,0,0,0,0,0,0,1