In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')
from functools import reduce
import re
import numpy as np

In [2]:
DemandTracker=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\DemandTracker.xlsx')
OnboardingTracker=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\OnboardingTracker.xlsx')
HCL=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\HCL.xlsx')
INFY=pd.read_excel(r'C:\NotBackedUp\SOE\pyscript\data\Infy.xlsx')

In [3]:
onshorePublished = DemandTracker[((DemandTracker['Location']=='ANZ - Melbourne'))]
OnRolPub=onshorePublished.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OnshoreRolePublished')

In [4]:
OnRolPub

               Tribe                      Role  OnshoreRolePublished
0               APRA                   Analyst                     1
1               APRA                  Engineer                     4
2               APRA         Operations Expert                     1
3               APRA         Solution Designer                     2
4               APRA       Tech Area Architect                     1
5   BUSINESS LENDING         Solution Designer                     2
6    BUSINESS OWNERS         Solution Designer                     2
7            BX - CC              Release Lead                     1
8           BX - CSP              Release Lead                     1
9           BX - CSP  SDET - Automation Tester                     5
10          BX - CSP              Scrum Master                     1
11          BX - CSP                 Test Lead                     1
12               CAT                   Analyst                     1
13               CAT                  Engineer                     4
14               CAT            Journey Expert                     2
15               CAT            Lead Developer                     1
16               CAT             Product Owner                     1
17               CAT              Release Lead                     1
18               CAT              Scrum Master                     1
19               CAT       Tech Area Architect                     3
20               CAT                    Tester                     1
21               CSS                  Engineer                     4
22               CSS              Release Lead                     1
23               CSS                    Tester                     6
24               DCS                   Analyst                     1
25               DCX                   Analyst                     2
26               DCX                  Engineer                    16
27               DCX                 Test Lead                     1
28               DCX                    Tester                     2
29               DSE                   Analyst                     1
30               DSE                  Engineer                     2
31               DSE             Product Owner                     1
32               DSE                 Test Lead                     1
33               DSE                    Tester                     1
34               SOE                   Analyst                     1
35               SOE                  Engineer                     1

In [5]:
onshorePublishedClosed = DemandTracker[((DemandTracker['Location']=='ANZ - Melbourne') & (DemandTracker['Demand Status']=='Closed'))]
OnRolPubClosed=onshorePublishedClosed.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OnshoreRolePublishedClosed')

In [6]:
OnRolPubClosed

               Tribe                      Role  OnshoreRolePublishedClosed
0               APRA                   Analyst                           1
1               APRA                  Engineer                           3
2               APRA         Operations Expert                           1
3               APRA         Solution Designer                           2
4   BUSINESS LENDING         Solution Designer                           1
5    BUSINESS OWNERS         Solution Designer                           2
6            BX - CC              Release Lead                           1
7           BX - CSP              Release Lead                           1
8           BX - CSP  SDET - Automation Tester                           1
9           BX - CSP                 Test Lead                           1
10               CAT                  Engineer                           1
11               CAT            Lead Developer                           1
12               CAT              Release Lead                           1
13               CAT              Scrum Master                           1
14               CAT       Tech Area Architect                           2
15               CAT                    Tester                           1
16               CSS                  Engineer                           1
17               CSS                    Tester                           3
18               DCS                   Analyst                           1
19               DCX                   Analyst                           1
20               DCX                  Engineer                           5
21               DCX                 Test Lead                           1
22               DCX                    Tester                           1
23               DSE                  Engineer                           1
24               DSE             Product Owner                           1
25               DSE                    Tester                           1
26               SOE                   Analyst                           1
27               SOE                  Engineer                           1

In [7]:
DXCOnboarding = OnboardingTracker
DXCOnboarding.loc[DXCOnboarding['Role'].str.contains('Engineer'),'Role'] = 'Engineer'
DXCOnboarding.loc[DXCOnboarding['Role'].str.contains('Expert'),'Role'] = 'Operations Expert'
DXCOnboarding.loc[DXCOnboarding['Role'].str.contains('Partner'),'Role'] = 'Delivery Partner'
DXCOnboarding.loc[DXCOnboarding['Role'].str.contains('SDET - Automation Tester'),'Role'] = 'Tester'

In [8]:
OnshoreResign = DXCOnboarding[((DXCOnboarding['Onboarding Status']=='Resigned') & (DXCOnboarding['Location']=='ANZ - Melbourne'))]
OnshoreResign=OnshoreResign.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OnshoreResigned')

In [9]:
OnshoreResign

      Tribe          Role  OnshoreResigned
0  BX - CSP   Agile Coach                1
1  BX - CSP       Analyst                1
2  BX - CSP      Engineer                3
3       DCX      Engineer                2
4       DSE  Chapter Lead                1
5       SOE   Agile Coach                1

In [10]:
OnshoreNoshow = DXCOnboarding[((DXCOnboarding['Onboarding Status']=='No Show') & (DXCOnboarding['Location']=='ANZ - Melbourne'))]
OnshoreNoshow=OnshoreNoshow.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OnshoreDropOff')

In [11]:
OnshoreNoshow

              Tribe               Role  OnshoreDropOff
0              APRA  Solution Designer               1
1  BUSINESS LENDING  Solution Designer               1
2               DCX           Engineer               1
3               SOE        Agile Coach               1

In [12]:
OnshoreHired = DXCOnboarding[((DXCOnboarding['Onboarding Status']=='Onboarding Completed') & (DXCOnboarding['Location']=='ANZ - Melbourne'))]
OnshoreHired=OnshoreHired.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OnshoreHired')

In [13]:
df=[OnRolPub,OnRolPubClosed,OnshoreResign,OnshoreNoshow,OnshoreHired]

In [14]:
onshore=reduce(lambda left,right: pd.merge(left,right,on=['Tribe','Role'],how='outer'),df)

In [15]:
onshore[['OnshoreRolePublished','OnshoreRolePublishedClosed','OnshoreResigned','OnshoreDropOff','OnshoreHired']]=onshore[['OnshoreRolePublished','OnshoreRolePublishedClosed','OnshoreResigned','OnshoreDropOff','OnshoreHired']].fillna(0)

In [16]:
onshore[['OnshoreRolePublished','OnshoreRolePublishedClosed','OnshoreResigned','OnshoreDropOff','OnshoreHired']]=onshore[['OnshoreRolePublished','OnshoreRolePublishedClosed','OnshoreResigned','OnshoreDropOff','OnshoreHired']].astype(int)

In [17]:
onshore

,Tribe,Role,OnshoreRolePublished,OnshoreRolePublishedClosed,OnshoreResigned,OnshoreDropOff,OnshoreHired
0,APRA,Analyst,1,1,0,0,1
1,APRA,Engineer,4,3,0,0,2
2,APRA,Operations Expert,1,1,0,0,1
3,APRA,Solution Designer,2,2,0,1,0
4,APRA,Tech Area Architect,1,0,0,0,0
5,BUSINESS LENDING,Solution Designer,2,1,0,1,0
6,BUSINESS OWNERS,Solution Designer,2,2,0,0,0
7,BX - CC,Release Lead,1,1,0,0,2
8,BX - CSP,Release Lead,1,1,0,0,6
9,BX - CSP,SDET - Automation Tester,5,1,0,0,0
10,BX - CSP,Scrum Master,1,0,0,0,0
11,BX - CSP,Test Lead,1,1,0,0,0
12,CAT,Analyst,1,0,0,0,4
13,CAT,Engineer,4,1,0,0,8
14,CAT,Journey Expert,2,0,0,0,0
15,CAT,Lead Developer,1,1,0,0,0
16,CAT,Product Owner,1,0,0,0,0
17,CAT,Release Lead,1,1,0,0,4
18,CAT,Scrum Master,1,1,0,0,0
19,CAT,Tech Area Architect,3,2,0,0,2
20,CAT,Tester,1,1,0,0,1
21,CSS,Engineer,4,1,0,0,0
22,CSS,Release Lead,1,0,0,0,0
23,CSS,Tester,6,3,0,0,0
24,DCS,Analyst,1,1,0,0,1
25,DCX,Analyst,2,1,0,0,0
26,DCX,Engineer,16,5,2,1,7
27,DCX,Test Lead,1,1,0,0,0
28,DCX,Tester,2,1,0,0,1
29,DSE,Analyst,1,0,0,0,6
30,DSE,Engineer,2,1,0,0,4
31,DSE,Product Owner,1,1,0,0,1
32,DSE,Test Lead,1,0,0,0,0
33,DSE,Tester,1,1,0,0,1
34,SOE,Analyst,1,1,0,0,1
35,SOE,Engineer,1,1,0,0,2
36,BX - CSP,Agile Coach,0,0,1,0,0
37,BX - CSP,Analyst,0,0,1,0,4
38,BX - CSP,Engineer,0,0,3,0,23
39,DSE,Chapter Lead,0,0,1,0,1
40,SOE,Agile Coach,0,0,1,1,1
41,BUSINESS LENDING,Engineer,0,0,0,0,4
42,BUSINESS LENDING,System Analyst,0,0,0,0,2
43,BX - CSP,Operations Expert,0,0,0,0,2
44,BX - CSP,Tester,0,0,0,0,5
45,CAT,Test Lead,0,0,0,0,1
46,DCS,Enterprise Architect,0,0,0,0,1
47,DCS,System Analyst,0,0,0,0,1
48,DCX,Release Lead,0,0,0,0,1
49,DSE,Release Lead,0,0,0,0,2
50,DSE,Tech Area Architect,0,0,0,0,1
51,SOE,Delivery Partner,0,0,0,0,5
52,SOE,Release Lead,0,0,0,0,3
53,SOE,Tech Area Architect,0,0,0,0,1

In [18]:
onshore.to_csv(r'C:\NotBackedUp\SOE\pyscript\Tribe\OnshoreRoles.csv',sep=',',index=None)

In [19]:
OnshoreHired = DXCOnboarding[((DXCOnboarding['Onboarding Status']=='Onboarding Completed') & (DXCOnboarding['Location']=='ANZ - Melbourne'))]
OnshoreHired=OnshoreHired.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OnshoreHired')

In [21]:
OffshoreHired = DXCOnboarding[((DXCOnboarding['Onboarding Status']=='Onboarding Completed') & (DXCOnboarding['Location'].isin(['ANZOT - Bangalore','HCL ODC - Bangalore','Infosys ODC - Pune'])))]
OffshoreHired=OffshoreHired.groupby(['Tribe','Role'])['Demand ID'].count().reset_index(name='OffshoreHired')

In [22]:
d1=[OnshoreHired,OffshoreHired]

In [23]:
hired=reduce(lambda left,right: pd.merge(left,right,on=['Tribe','Role'],how='outer'),d1)

In [25]:
hired[['OnshoreHired','OffshoreHired']] = hired[['OnshoreHired','OffshoreHired']].fillna(0)

In [26]:
hired[['OnshoreHired','OffshoreHired']] = hired[['OnshoreHired','OffshoreHired']].astype(int)

In [28]:
hired.to_csv(r'C:\NotBackedUp\SOE\pyscript\Tribe\RolesHired.csv',sep=',',index=None)

In [29]:
hired

               Tribe                  Role  OnshoreHired  OffshoreHired
0               APRA               Analyst             1              2
1               APRA              Engineer             2              3
2               APRA     Operations Expert             1              0
3   BUSINESS LENDING              Engineer             4              0
4   BUSINESS LENDING        System Analyst             2              0
5            BX - CC          Release Lead             2              1
6           BX - CSP               Analyst             4              5
7           BX - CSP              Engineer            23             14
8           BX - CSP     Operations Expert             2              0
9           BX - CSP          Release Lead             6              9
10          BX - CSP                Tester             5              6
11               CAT               Analyst             4              4
12               CAT              Engineer             8              5
13               CAT          Release Lead             4              3
14               CAT   Tech Area Architect             2              0
15               CAT             Test Lead             1              0
16               CAT                Tester             1              0
17               DCS               Analyst             1              1
18               DCS  Enterprise Architect             1              0
19               DCS        System Analyst             1              0
20               DCX              Engineer             7              3
21               DCX          Release Lead             1              1
22               DCX                Tester             1              2
23               DSE               Analyst             6              1
24               DSE          Chapter Lead             1              0
25               DSE              Engineer             4             13
26               DSE         Product Owner             1              1
27               DSE          Release Lead             2              0
28               DSE   Tech Area Architect             1              0
29               DSE                Tester             1              0
30               SOE           Agile Coach             1              2
31               SOE               Analyst             1             17
32               SOE      Delivery Partner             5              6
33               SOE              Engineer             2              9
34               SOE          Release Lead             3              5
35               SOE   Tech Area Architect             1              0
36              APRA          Release Lead             0              2
37              APRA                Tester             0              2
38  BUSINESS LENDING               Analyst             0              1
39  BUSINESS LENDING     Operations Expert             0              1
40  BUSINESS LENDING          Release Lead             0              2
41           BX - CC               Analyst             0              2
42           BX - CC              Engineer             0              9
43           BX - CC             Test Lead             0              1
44          BX - CSP   Environment Manager             0              2
45          BX - CSP   Tech Area Architect             0              1
46               CAT     Solution Designer             0              2
47               CSS              Engineer             0              6
48               CSS                Tester             0              4
49               DCS              Engineer             0              1
50               DCX           Agile Coach             0              2
51               DSE           PMO Analyst             0              1
52               SOE        Lead Developer             0              2
53               SOE           PMO Analyst             0              3
54               SOE                Tester             0              7

In [3]:
HCLHires = HCL
#HCLHires.loc[HCLHires['Role'].str.contains('Engineer'),'Role'] = 'Engineer'
#HCLHires.loc[HCLHires['Role'].str.contains('Expert'),'Role'] = 'Operations Expert'
#HCLHires.loc[HCLHires['Role'].str.contains('Partner'),'Role'] = 'Delivery Partner'
#HCLHires.loc[HCLHires['Role'].str.contains('SDET - Automation Tester'),'Role'] = 'Tester'

In [4]:
INFYHires = INFY
#INFYHires.loc[INFYHires['Role'].str.contains('Engineer'),'Role'] = 'Engineer'
#INFYHires.loc[INFYHires['Role'].str.contains('Expert'),'Role'] = 'Operations Expert'
#INFYHires.loc[INFYHires['Role'].str.contains('Partner'),'Role'] = 'Delivery Partner'
#INFYHires.loc[INFYHires['Role'].str.contains('SDET - Automation Tester'),'Role'] = 'Tester'

In [5]:
HCLHires = HCLHires[((HCLHires['Application Status']=='Hired'))]
HCLHires=HCLHires.groupby(['Tribe','Role'])['ID'].count().reset_index(name='HCLHired')

In [6]:
INFYHires = INFYHires[((INFYHires['Application Status']=='Hired'))]
INFYHires=INFYHires.groupby(['Tribe','Role'])['ID'].count().reset_index(name='InfyHired')

In [7]:
hire = [HCLHires,INFYHires]

In [8]:
h1=reduce(lambda left,right: pd.merge(left,right,on=['Tribe','Role'],how='outer'),hire)

In [9]:
h1[['HCLHired','InfyHired']] = h1[['HCLHired','InfyHired']].fillna(0)
h1[['HCLHired','InfyHired']] = h1[['HCLHired','InfyHired']].astype(int)

In [10]:
h1['Total'] = h1['HCLHired']+h1['InfyHired']

In [11]:
h1.to_csv(r'C:\NotBackedUp\SOE\pyscript\Tribe\H1.csv',sep=',',index=None)